<%-include('header.ejs')%>

<form action="/recent_plays" method="post" class="form-container"> 
    <ul class="form-list">
        <h3>Add your plays</h3>
        <li class="form-item">Date  <input type="text" name="date" placeholder="MM/DD" required></li>
        <li class="form-item">Winner  <input type="text" name="winner" placeholder="ex) Ben Shelton " required></li>
        <li class="form-item">Loser  <input type="text" name="loser" placeholder="ex) Roger Federer " required></li>
        <li class="form-item">Match Score  <input type="text" name="score" placeholder="ex) 6:2" required></li>
        <li class="form-item">Betting point  <input type="number" name="point" placeholder="ex) 0 " required></li>
        <li class="form-item"><button type="submit" class="submit-button">ADD</button></li>
    </ul>
</form>

<%-include('footer.ejs')%>
