<%-include('header.ejs')%>

<body>
    <h1>게임 규칙</h1>

    <div class="rule-section">
        <div class="rule-title"> 1:1 매치</div>
        <ul class="rule-list">
            <li>두 사용자가 1:1 매치를 진행합니다.</li>
            <li>승자에게는 100점이 추가되고, 패자에게는 10점이 추가됩니다.</li>
            <li>상대와 협의 후 추가 점수를 배팅할 수 있습니다.</li>
        </ul>
    </div>

    <div class="rule-section">
        <div class="rule-title"> 점수 배팅</div>
        <ul class="rule-list">
            <li>두 사용자가 협의하여 일정 점수를 배팅합니다.</li>
            <li>배팅한 점수는 양쪽이 반씩 부담합니다.</li>
            <li>승자가 배팅된 총 점수를 모두 가져갑니다.</li>
            <li class="example">ex) 두 사람이 500점을 배팅하면 각자 250점씩 부담하고, 승자가 500점을 가져갑니다.</li>
        </ul>
    </div>

    <div class="rule-section">
        <div class="rule-title"> 배팅 한도</div>
        <ul class="rule-list">
            <li>사용자의 점수가 음수가 되지 않는 한, 배팅 한도는 제한이 없습니다.</li>
        </ul>
    </div>

    <div class="rule-section">
        <div class="rule-title"> 랭킹 시스템</div>
        <ul class="rule-list">
            <li>각 사용자의 점수에 따라 실시간으로 순위가 변동됩니다.</li>
            <li>가장 높은 점수를 가진 사람이 상위에 랭크됩니다.</li>
        </ul>
    </div>

</body>

<img src="/b.jpeg">

<%-include('footer.ejs')%>
