<%-include('header.ejs')%>
<body>
    <h1>Game Rules</h1>

    <div class="rule-section">
        <div class="rule-title">1:1 Match</div>
        <ul class="rule-list">
            <li>Two users engage in a 1:1 match.</li>
            <li>The winner gains 100 points, while the loser gains 10 points.</li>
            <li>Users can bet additional points after mutual agreement.</li>
        </ul>
    </div>

    <div class="rule-section">
        <div class="rule-title">Point Betting</div>
        <ul class="rule-list">
            <li>Two users agree to bet a certain amount of points.</li>
            <li>The betting score will be paid by each side in half.</li>
            <li>The winner takes all the points that were bet.</li>
            <li class="example">ex) If two people bet 500 points, each would pay 250 points, and the winner takes 500 points.</li>
        </ul>
    </div>

    <div class="rule-section">
        <div class="rule-title">Betting Limit</div>
        <ul class="rule-list">
            <li>There is no limit to betting as long as a user's score does NOT go negative.</li>
        </ul>
    </div>

    <div class="rule-section">
        <div class="rule-title">Ranking System</div>
        <ul class="rule-list">
            <li>The rankings change in real-time based on each user's points.</li>
            <li>The person with the highest point ranks at the top.</li>
        </ul>
    </div>

</body>

<!--<img src="/b.jpeg"> -->

<%-include('footer.ejs')%>
