    <% if (isOwner) { %>
        <script> alert('<%= request.session.nickname %>님 환영합니다 | <a href="/auth/logout">로그아웃</a>');</script>
    <% } else { %>
      <script>alert('로그인 후 사용 가능합니다.');</script>
    <% } %>

  