<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank Your Rank</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Rank your Rank</h1>
    <header>
        <nav>
            <a href ="/">Home</a>
            <a href ="/rankings">Rankings</a>
            <a href ="/recent_plays">Recent Plays</a>
            <a href ="/addplays">Add Plays</a>
            <a href ="/profile">Profile</a>
            <a href ="/auth/logout">Log Out</a>


        </nav>

    </header>