<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<h1>Rank your Rank</h1>

<div class="login-register-container">

  <form action="/auth/login_process" method="post"> 
    <h3>Log In</h3>
    <ul>
      <li>Enter Your ID : <input type="text" name="enteredid" required></li>
      <li>Enter Your Password : <input type="password" name="enteredpw" required></li>
      <button type="submit">Log In</button>
      <p>You don't have an account ? <a href="/auth/register">Register here !</a></p> 
    </ul>
  </form>
</div>
<%-include('footer.ejs')%>